@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@700&display=swap');
.container-body{
    font-family:'Roboto';
}
.cls1{
    color:#323f4b;
}
.cls2{
    color:#9aa5b1;
}