.container-fluid{
    background-color: #1f2933;
}
.tit{
    color:#cced00 ;
}
.tit2{
    color: #cced00;
}
.tittt{
    color: #9aa5b1 ;
}
.card-text{
    color:#323f4b;
}
.card-title{
    color: #9aa5b1;
}